.Drumpad {
    width: 600px;
    height: 600px;
}
.Button {
    font-family:'Arial Black', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    border-radius: 30px;
    background-color: rgba(255, 0, 0, 0);
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    transition-duration: 0.6s;
}
.P3S {
    font-family:'Arial Black', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    border-radius: 30px;
    background-color: rgba(255, 0, 0, 0);
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    transition-duration: 0.6s;
}
.P3S:hover {
    background-color: rgb(0, 255, 0);
    color: rgb(255, 255, 255);
}
.flowchart {
    font-family:'Arial Black', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    width: 300px;
    height: 50px;
    border-radius: 30px;
    background-color: rgba(255, 0, 0, 0);
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    transition-duration: 0.6s;
}
.flowchart:hover {
    background-color: rgb(0, 255, 0);
    color: rgb(255, 255, 255);
}
.p1 {
    font-family:'Arial Black', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
    border-radius: 30px;
    background-color: rgba(255, 0, 0, 0.322);
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    transition-duration: 0.6s;
}
.p1:hover {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
}
.p2 {
    font-family:'Arial Black', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
    border-radius: 30px;
    background-color: rgba(255, 0, 0, 0.322);
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    transition-duration: 0.6s;
}
.p2:hover {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
}
.p3 {
    font-family:'Arial Black', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
    border-radius: 30px;
    background-color: rgba(255, 0, 0, 0.322);
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    transition-duration: 0.6s;
}
.p3:hover {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
}
.p4 {
    font-family:'Arial Black', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
    border-radius: 30px;
    background-color: rgba(255, 0, 0, 0.3);
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    transition-duration: 0.6s;
}
.p4:hover {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
}
.p5 {
    font-family:'Arial Black', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
    border-radius: 30px;
    background-color: rgba(255, 255, 0, 0.3);
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    transition-duration: 0.6s;
}
.p5:hover {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
}
.p6 {
    font-family:'Arial Black', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
    border-radius: 30px;
    background-color: rgba(255, 255, 0, 0.3);
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    transition-duration: 0.6s;
}
.p6:hover {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
}
.p7 {
    font-family:'Arial Black', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
    border-radius: 30px;
    background-color: rgb(0, 0, 255);
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    transition-duration: 0.6s;
}
.p7:hover {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
}
.p8 {
    font-family:'Arial Black', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
    border-radius: 30px;
    background-color: rgb(0, 0, 255);
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    transition-duration: 0.6s;
}
.p8:hover {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
}
.p9 {
    font-family:'Arial Black', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
    border-radius: 30px;
    background-color: rgb(0, 0, 255);
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    transition-duration: 0.6s;
}
.p9:hover {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
}