html {
    background-color: rgb(0, 0, 0);
}
header, body {
    max-width: 800px;
    margin: auto;
}
h1, h3 {
    text-align: center;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 40px;
    opacity: 50%;
}
#FACH {
    transform: translate(-72px, -72px);
}
#newtoDo #addToDo, #newtoDo li, input{
    position: relative;
    margin: 2px;
    padding: 36px 10px 36px 3px;
    background-color: rgb(36, 36, 36);
    border: white;
    width: 800px;
    font-size: 20px;
    color: #ffffff;
    box-sizing: border-box;
}
input {
    font-size: 18px;
    font-family: Arial, sans-serif;
    margin-bottom: -10px;
}
#inputWrapper {
    position: relative;
}
.fa-plus-circle {
    font-size: 20px;
    position: absolute;
    top: 36px;
    left: -30px;
    color: #00ff00;
    cursor: pointer;
}
ul {
    list-style: none;
    padding-left: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.fa-circle, .fa-check-circle {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translate(0%, -50%);
}
.fa-trash-alt {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translate(0%, -50%);
}
.flowchart {
    font-family:'Arial Black', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    width: 300px;
    height: 50px;
    border-radius: 30px;
    background-color: rgba(255, 0, 0, 0);
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    transition-duration: 0.6s;
}
.flowchart:hover {
    background-color: rgb(0, 255, 0);
    color: rgb(255, 255, 255);
}